<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container text-center">
        <div class="jumbotron">
            <h1 class="display-4">Mission To Mars</h1>
            <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
        </div> 
           
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="font-weight-bold">Latest Mars News</h1>
                <h4 class="font-weight-bold">{{ mars.news_title }}</h4>
                <p class="paragraph">{{ mars.news_p }}</p>
            </div>
            <div class="col-md-8">
                <h1 class="font-weight-bold">Featured Mars Image</h1>
                <a>
                    <img src={{ mars.featured_image_url }} width=100% alt="featured image">
                </a>
            </div>
            <div class="col-md-4">
                <h5 class="font-weight-bold">Mars Facts</h5>
                <div class="table-responsive">
                    {{ mars.mars_facts }}
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">


    </div>
        <!-- 
  
        <div>
        <ul style="list-style: none;">
            {% for i, j in mars.hemisphere_image_urls %}
            <li>{{ team.player }}: {{ team.position }}</li>
            {% endfor %}
        </ul> -->
</body>

</html>
