<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container text-center">
        <div class="jumbotron">
            <h1 class="display-4">Mission To Mars</h1>
            <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
        </div> 
           
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="font-weight-bold">Latest Mars News</h1>
                <h4 class="font-weight-bold">{{ mars.news_title }}</h4>
                <p class="paragraph">{{ mars.news_p }}</p>
            </div>
            <div class="col-md-8">
                <h1 class="font-weight-bold">Featured Mars Image</h1>
                <a>
                    <img src={{ mars.featured_image_url }} width=100% alt="featured image">
                </a>
            </div>
            <div class="col-md-4">
                <h5 class="font-weight-bold">Mars Facts</h5>
                <div class="table-responsive">
                    <!-- <table class="table table-bordered table-hover table-striped table-sm"> -->
                    {{ mars.mars_facts|safe }}
                    <!-- </table> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h1 class="font-weight-bold">Mars Hemispheres</h1>
            </div>
            {% for i in mars.hemisphere %} 
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src={{ i.img_url }} width=99% alt={{ i.name }}>
                    <div class="card-body">
                        <h3 class="card-title">{{ i.name }}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
        
</body>

</html>
